@import "tailwindcss";

* {
  font-family: outfit;
}

@layer base {
  :root {
    --background: #ffffff;
    --text: #000000;
    --primary: #2563eb;
    --font-primary: "Outfit", sans-serif;
    --font-secondary: "Ovo", serif;
  }

  [data-theme="dark"] {
    --font-primary: "Ovo", serif;
    --font-secondary: "Outfit", sans-serif;
    --background: #0f172a;
    --text: #ffffff;
    --primary: #3b82f6;
  }

  [data-theme="blue"] {
    --background: #1e40af;
    --text: #ffffff;
    --primary: #60a5fa;
  }

  body {
    font-family: var(--font-primary);
  }
}
